backend/de.metas.epcis.base/src/main/resources/de/metas/epcis/migros-adjusted/3_5_1_FT/migros_lu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generiert von XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema xmlns:migros="http://migros.net/migros/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://migros.net/migros/">
	<xs:element name="LU" type="xs:string"/>

	<xs:element name="LUAttrCoolingStatus" type="migros:T_LUAttrCoolingStatus"/>
	<xs:element name="LUAttrDeliveryTime" type="xs:dateTime"/>
	<xs:element name="LUAttrHazardStatement" type="migros:T_LUAttrHazardStatement"/>
	<xs:element name="LUAttrHeightCMT" type="xs:string"/>
	<xs:element name="LUAttrBroadCMT" type="xs:string"/>
	<xs:element name="LUAttrLengthCMT" type="xs:string"/>
	<xs:element name="LUAttrPromotion" type="migros:T_LUAttrPromotion"/>
	<xs:element name="LUAttrWeightKGM" type="xs:string"/>
	<xs:simpleType name="T_LUAttrCoolingStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="K"/>
			<xs:enumeration value="TK"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="ZERO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_LUAttrHazardStatement">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H300"/>
			<xs:enumeration value="ZERO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_LUAttrPromotion">
		<xs:restriction base="xs:string">
			<xs:enumeration value=" AKTION "/>
			<xs:enumeration value="AKTION"/>
			<xs:enumeration value="ZERO"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>