misc/services/camel/de-metas-camel-externalsystems/com-adekia-exchange/com.adekia.exchange-model/src/main/xsd/common/UBL-XAdES01903v141-201601-2.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Library:           OASIS Universal Business Language (UBL) 2.3 OS
                     http://docs.oasis-open.org/ubl/os-UBL-2.3/
  Release Date:      15 June 2021
  Module:            UBL-XAdES01903v141-201601-2.3.xsd
  Generated on:      2016-06-24 19:50(UTC)

  This is a copy of http://uri.etsi.org/01903/v1.4.1/XAdES01903v141-201601.xsd
  modified only to change the importing URIs for the XAdES v1.3.2 schema and
  W3C dsig schema.
-->
<xsd:schema targetNamespace="http://uri.etsi.org/01903/v1.4.1#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
            xmlns="http://uri.etsi.org/01903/v1.4.1#" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xades="http://uri.etsi.org/01903/v1.3.2#" elementFormDefault="qualified">
    <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="UBL-xmldsig-core-schema-2.3.xsd"/>
    <xsd:import namespace="http://uri.etsi.org/01903/v1.3.2#" schemaLocation="UBL-XAdES01903v132-201601-2.3.xsd"/>
    <!-- Start CertificateValues -->
    <xsd:element name="TimeStampValidationData" type="ValidationDataType"/>
    <xsd:complexType name="ValidationDataType">
        <xsd:sequence>
            <xsd:element ref="xades:CertificateValues" minOccurs="0"/>
            <xsd:element ref="xades:RevocationValues" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
        <xsd:attribute name="URI" type="xsd:anyURI" use="optional"/>
    </xsd:complexType>
    <xsd:element name="SignaturePolicyStore" type="SignaturePolicyStoreType"/>
    <xsd:complexType name="SignaturePolicyStoreType">
        <xsd:sequence>
            <xsd:element ref="SPDocSpecification"/>
            <xsd:choice>
                <xsd:element name="SignaturePolicyDocument" type="xsd:base64Binary"/>
                <xsd:element name="SigPolDocLocalURI" type="xsd:anyURI"/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    <xsd:element name="SPDocSpecification" type="xades:ObjectIdentifierType"/>
    <!-- -->
    <!-- Start RenewedDigests-->
    <!-- -->
    <xsd:element name="RenewedDigests" type="RenewedDigestsType"/>
    <xsd:complexType name="RenewedDigestsType">
        <xsd:sequence>
            <xsd:element ref="ds:DigestMethod"/>
            <xsd:element ref="RecomputedDigestValue" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    <xsd:element name="RecomputedDigestValue" type="RecomputedDigestValueType"/>
    <xsd:complexType name="RecomputedDigestValueType">
        <xsd:simpleContent>
            <xsd:extension base="ds:DigestValueType">
                <xsd:attribute name="Order" type="xsd:integer" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <!-- -->
    <!-- End RenewedDigests-->
    <!-- -->
    <!-- ArchiveTimeStamp in namespace with URI 'http://uri.etsi.org/01903/v1.4.1#'-->
    <xsd:element name="ArchiveTimeStamp" type="xades:XAdESTimeStampType"/>
    <!--CompleteCertificateRefsV2 and AttributeCertificateRefsV2-->
    <xsd:element name="CompleteCertificateRefsV2" type="CompleteCertificateRefsTypeV2"/>
    <xsd:element name="AttributeCertificateRefsV2" type="CompleteCertificateRefsTypeV2"/>
    <xsd:complexType name="CompleteCertificateRefsTypeV2">
        <xsd:sequence>
            <xsd:element name="CertRefs" type="xades:CertIDListV2Type"/>
        </xsd:sequence>
        <xsd:attribute name="Id" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    <!-- SigAndRefsTimeStampV2 and RefsOnlyTimeStampV2-->
    <xsd:element name="SigAndRefsTimeStampV2" type="xades:XAdESTimeStampType"/>
    <xsd:element name="RefsOnlyTimeStampV2" type="xades:XAdESTimeStampType"/>
</xsd:schema>
