backend/de.metas.epcis.base/src/main/resources/de/metas/epcis/standard/1_2/EPCglobal.xsd

<xsd:schema xmlns:epcglobal="urn:epcglobal:xsd:1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:epcglobal:xsd:1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<epcglobal:copyright>Copyright (C) 2004 Epcglobal Inc., All Rights Reserved.</epcglobal:copyright>
			<epcglobal:disclaimer>EPCglobal Inc., its members, officers, directors, employees, or agents shall not be liable for any injury, loss, damages, financial or otherwise, arising from, related to, or caused by the use of this document.  The use of said document shall constitute your express consent to the foregoing exculpation.</epcglobal:disclaimer>
			<epcglobal:specification>EPCglobal common components Version 1.0</epcglobal:specification>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Document" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
         EPCglobal document properties for all messages.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
           The version of the schema corresponding to which the instance conforms. 
        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="creationDate" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
           The date the message was created. Used for auditing and logging.
        </xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="EPC">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
         EPC represents the Electronic Product Code.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
