backend/de.metas.epcis.base/src/main/resources/de/metas/epcis/migros/3_3_3_CD/3_3_3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generiert von XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="urn:epcglobal:epcis:xsd:1" xmlns:epcis="urn:epcglobal:epcis:xsd:1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import schemaLocation="parameter.xsd"/>
	<xs:element name="EPCISDocument" type="epcis:T_EPCISDocument"/>
	<xs:complexType name="T_EPCISDocument">
		<xs:sequence>
			<xs:element ref="EPCISBody"/>
		</xs:sequence>
		<xs:attribute name="creationDate" use="required" type="xs:dateTime"/>
		<xs:attribute name="schemaVersion" use="required" type="xs:decimal"/>
	</xs:complexType>
</xs:schema>
