backend/de.metas.postfinance.base/src/main/resources/de/metas/postfinance/ybinvoice/v2/ybInvoice_V2.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by SPS (yellowworld AG) -->
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by Post CH AG (Post CH AG) -->
<!--Version 2.0.1 created by Swiss Post Solutons AG, October.2011. Replace version 2.0 -->
<!--semantics descriptions: www.swissdigin.ch-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="DeliveryType">
		<xs:annotation>
			<xs:documentation>complextype delivery</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillerID">
				<xs:annotation>
					<xs:documentation>N [17], modulo-checked sender ID, assigned by yellowbill (e.g.: "41100000000002256")</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:pattern value="\d{17}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>ReceiverID</xs:documentation>
				</xs:annotation>
				<xs:element name="eBillAccountID">
					<xs:annotation>
						<xs:documentation>N [17], modulo-checked receiver ID</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:totalDigits value="17"/>
							<xs:pattern value="\d{17}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="AlternativeRecipientID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element name="DeliveryID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [15], Number of bill run, if more than one bill run per period. Length is maximum 15 characters.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeliveryDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Date [yyyy-mm-dd] must be equal  to DocumentDate in node bill.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionID">
				<xs:annotation>
					<xs:documentation>AN [50] unique transaction identification assigned by sender. This ID is being used in the PDF- and XML-bill  filename. Length is maximum 50 characters.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BillDetailsType">
				<xs:annotation>
					<xs:documentation>[PDF;PDFSystem;PDFAppendix] type of bill detail, usualy PDF = PDF-Format; PDFSystem = PDF generated by yellowbil; PDFAppendix = PDF delivered by sender embedded in Appendix node</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PDF"/>
						<xs:enumeration value="PDFSystem"/>
						<xs:enumeration value="PDFAppendix"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="URLBillDetails" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>deprecated</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ybInvoiceType">
		<xs:annotation>
			<xs:documentation>complextype ybinvoice</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DeliveryInfo" type="DeliveryType">
				<xs:annotation>
					<xs:documentation>node delivery info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Bill" type="BillType">
				<xs:annotation>
					<xs:documentation>node bill</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Appendix" type="AppendixType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>node appendix data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillHeaderType">
		<xs:annotation>
			<xs:documentation>complextype BillHeader</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentType">
				<xs:annotation>
					<xs:documentation>[BILL; CREDITADVICE; REMINDER] type of document</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BILL"/>
						<xs:enumeration value="REMINDER"/>
						<xs:enumeration value="CREDITADVICE"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentSubType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>[partial, final]  subtype of document</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="final"/>
						<xs:enumeration value="partial"/>
						<xs:enumeration value="cancellation"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentID">
				<xs:annotation>
					<xs:documentation>AN [70] document identification by sender (e.g. bill no. 527-45-678-78)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentReference" type="Reference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>additional document reference defined by sender.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>[yyyy-mm-dd] Date of document. Must be equal to  DeliveryDate in node  DeliveryInfo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SenderParty">
				<xs:annotation>
					<xs:documentation>Identification and information about sender</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Network" type="NetworkType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>EBPP network identification</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TaxLiability" block="restriction" form="qualified">
							<xs:annotation>
								<xs:documentation>Flag to show, if biller has to declare VAT information or not.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="FRE"/>
									<xs:enumeration value="VAT"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PartyType" type="PartyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReceiverParty">
				<xs:annotation>
					<xs:documentation>Identification and  information about receiver</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Network" type="NetworkType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>EBPP network identification</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PartyType" type="PartyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="InvoiceReceivingParty" type="PartyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indications of receiver party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryPlace" type="PartyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information about delivery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchievementDate" type="AchievementDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This value is mandatory, if there is no entry in lineitem of node billlineitem</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency">
				<xs:annotation>
					<xs:documentation>AN [3] currency code ISO 4217; Permitted: CHF, EUR, AUD, CAD, DKK, GBP, JPY, NOK, SEK, USD</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="[A-Z]{3}"/>
						<xs:enumeration value="CHF"/>
						<xs:enumeration value="EUR"/>
						<xs:enumeration value="AUD"/>
						<xs:enumeration value="CAD"/>
						<xs:enumeration value="DKK"/>
						<xs:enumeration value="GBP"/>
						<xs:enumeration value="JPY"/>
						<xs:enumeration value="NOK"/>
						<xs:enumeration value="SEK"/>
						<xs:enumeration value="USD"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountAssignment" type="AccountAssignmentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>order- and account references </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FixedReference" type="FixedReference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>enumerated references has to use a ReferenceType according to manual e-bill</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language">
				<xs:annotation>
					<xs:documentation>[de, fr, it, en] Standard 2-letter language code ISO 639 (e.g.: German=de, French=fr, Italian=it, English=en)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="de"/>
						<xs:enumeration value="fr"/>
						<xs:enumeration value="it"/>
						<xs:enumeration value="en"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentInformation">
				<xs:annotation>
					<xs:documentation>payment information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentDueDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>[yyyy-mm-dd] Due date for payment (e.g.:"2004-07-25")</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PaymentType">
							<xs:annotation>
								<xs:documentation>[ESR;DD;CREDIT;OTHER;IBAN] method of payment</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ESR"/>
									<xs:enumeration value="DD"/>
									<xs:enumeration value="CREDIT"/>
									<xs:enumeration value="OTHER"/>
									<xs:enumeration value="IBAN"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="fixAmount">
							<xs:annotation>
								<xs:documentation>[Yes;No] case-sensitive.  Indication wether  amount is changeable upon payment or not (default:"Yes")</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Yes"/>
									<xs:enumeration value="No"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ESR" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Orange inpayment slip (ESR)</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ESRCustomerNumber">
										<xs:annotation>
											<xs:documentation>N [2]-[6]-[1] or [9] Orange inpayment slip (ESR) customer number of  sender (e.g. "01-123456-1" or "011234561"). First two positions must be "01" for CHF or "03" for EUR</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="11"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ESRReferenceNumber">
										<xs:annotation>
											<xs:documentation>N [27] Reference number of  orange inpayment slip (ESR) </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="27"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="IBAN" minOccurs="0">
							<xs:annotation>
								<xs:documentation>International payment instruction </xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BIC" minOccurs="0">
										<xs:annotation>
											<xs:documentation>AN [11] bank identifier code</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="11"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="BankName" minOccurs="0">
										<xs:annotation>
											<xs:documentation>AN [50] name of the bank</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="IBAN">
										<xs:annotation>
											<xs:documentation>AN [34] internatinoal bank account number</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="34"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CreditorName" minOccurs="0">
										<xs:annotation>
											<xs:documentation>AN [70] name of the creditor</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="CreditorReference" minOccurs="0">
										<xs:annotation>
											<xs:documentation>AN [140] reference</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="140"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="ChargingOption" block="restriction" minOccurs="0">
										<xs:annotation>
											<xs:documentation>[BEN;OUR;SHA] case-sensitive.  Indication by whom the bank charges has to be paid.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="BEN"/>
												<xs:enumeration value="OUR"/>
												<xs:enumeration value="SHA"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Instalments" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>node instalments</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="Instalments"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FreeText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>AN [255] bill header freetext</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkType">
		<xs:annotation>
			<xs:documentation>complextype Network</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NetworkName">
				<xs:annotation>
					<xs:documentation>AN [30] network identification</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NetworkID">
				<xs:annotation>
					<xs:documentation>AN [30] unique network identification. If sender = BillerID; if receiver = EBPP network ID (eBill-account-ID) </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>complextype Address</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CompanyName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] companyname, must correspond to Tax register entry. Mandatory for VAT validity.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompanyDivision" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] Name of company  division </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Title" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [10] Mr. / Mrs. / Title</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FamilyName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] familyname</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GivenName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] givenname </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] Address 1. Address1 or  POBox has to be filled out.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] Address 2 </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="POBox" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] PoBox, Address1 or  POBox has to be filled out.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ZIP">
				<xs:annotation>
					<xs:documentation>AN [10] Postal code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City">
				<xs:annotation>
					<xs:documentation>AN [50] city</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country">
				<xs:annotation>
					<xs:documentation>A [2] ISO Standard 3166-1 (CH, DE, etc.)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Email" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [255] e-mail</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contact1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] contact information</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contact2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] contact information</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyType">
		<xs:annotation>
			<xs:documentation>complextype Party</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustomerID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] senders or receivers customer identification</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Address" type="AddressType"/>
			<xs:element name="TaxID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] VAT number of sender or receiver. Mandatory for sender if attribute TaxLiability is VAT. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdditionalReference" type="Reference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>additional reference, e.g. delivery number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AchievementDateType">
		<xs:annotation>
			<xs:documentation>complextype AchievementDate</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StartDateAchievement" type="xs:date">
				<xs:annotation>
					<xs:documentation>[yyyy-mm-dd] Startdate of  achievement range</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDateAchievement" type="xs:date">
				<xs:annotation>
					<xs:documentation>[yyyy-mm-dd] enddate of  achievement range. End date can be equal, but not earlier to start date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineItemType">
		<xs:annotation>
			<xs:documentation>complextype LineItem</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineItemType">
				<xs:annotation>
					<xs:documentation>[NORMAL, LINEITEMALLOWANCEANDCHARGE, GLOBALALLOWANCEANDCHARGE, SHIPPINGANDHANDLING, ROUNDING] type of lineitem</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NORMAL"/>
						<xs:enumeration value="LINEITEMALLOWANCEANDCHARGE"/>
						<xs:enumeration value="GLOBALALLOWANCEANDCHARGE"/>
						<xs:enumeration value="SHIPPINGANDHANDLING"/>
						<xs:enumeration value="ROUNDING"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LineItemID">
				<xs:annotation>
					<xs:documentation>AN [70] position of lineitem </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] description of product group as title</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductSubGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [50] description of product subgroup as title</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AchievementDate" type="AchievementDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This value is mandatory, if there is no entry in node  AchievementDate of node billheader</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductDescription">
				<xs:annotation>
					<xs:documentation>AN [255] description of product or service</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] product-, article or achievementnumber, assigned by sender</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EAN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N [18] European/International Article Number  </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{0,18}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Quantity">
				<xs:annotation>
					<xs:documentation>N [13].[6] quantity</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="QuantityDescription">
				<xs:annotation>
					<xs:documentation>AN[20] 
must be agreed with the billRecipient</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PriceUnit">
				<xs:annotation>
					<xs:documentation>N [17].[2] quantity delivered per price (default = 1) </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PriceInclusiveTax" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N [17].[6] price incl. VAT per price unit </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriceExclusiveTax" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N [17].[6] price excl. VAT per price unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tax" type="TaxLineItemType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>tax detail per line item</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AmountInclusiveTax" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N [17].[6] sum of BaseAmountInclusiveTax values (node TaxDetail)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AmountExclusiveTax">
				<xs:annotation>
					<xs:documentation>N [17].[6] sum of all  BaseAmountExclusiveTax values (node TaxDetail)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountAssignment" type="AccountAssignmentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>order- and account references </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FixedReference" type="FixedReference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>enumerated references </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineItemReference" type="Reference" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>additional Lineitem reference defined by sender.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AllowanceAndCharge" minOccurs="0">
				<xs:annotation>
					<xs:documentation>informations about allowance and charges, only allowed if  LineItemType is  "GLOBALALLOWANCEANDCHARGE" oder "LINEITEMALLOWANCEANDCHARGE"</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BaseAmount" minOccurs="0">
							<xs:annotation>
								<xs:documentation>N [17].[6] indication as amount</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Rate" minOccurs="0">
							<xs:annotation>
								<xs:documentation>N [2].[2] indication in %</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AllowanceAndChargeCode" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Qualifiers the kind of allowance or charge</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="A"/>
									<xs:enumeration value="B"/>
									<xs:enumeration value="C"/>
									<xs:enumeration value="D"/>
									<xs:enumeration value="E"/>
									<xs:enumeration value="F"/>
									<xs:enumeration value="G"/>
									<xs:enumeration value="H"/>
									<xs:enumeration value="J"/>
									<xs:enumeration value="K"/>
									<xs:enumeration value="L"/>
									<xs:enumeration value="M"/>
									<xs:enumeration value="N"/>
									<xs:enumeration value="O"/>
									<xs:enumeration value="P"/>
									<xs:enumeration value="Q"/>
									<xs:enumeration value="R"/>
									<xs:enumeration value="S"/>
									<xs:enumeration value="T"/>
									<xs:enumeration value="U"/>
									<xs:enumeration value="V"/>
									<xs:enumeration value="W"/>
									<xs:enumeration value="X"/>
									<xs:enumeration value="Y"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FreeText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>AN [255] free text per line item</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxDetailType">
		<xs:annotation>
			<xs:documentation>complextype TaxDetail</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Rate">
				<xs:annotation>
					<xs:documentation>N [2].[2] percantage of tax  rate (e.g. 7.60)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Amount">
				<xs:annotation>
					<xs:documentation>N [17].[6] effective tax amount per tax rate</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BaseAmountExclusiveTax">
				<xs:annotation>
					<xs:documentation>N [17].[6] baseamount exclusive tax per tax rate</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BaseAmountInclusiveTax" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N [17].[6] baseamount inclusive tax per tax rate</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxType">
		<xs:annotation>
			<xs:documentation>complextype Tax</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TaxDetail" type="TaxDetailType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>taxdetails per tax rate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalTax">
				<xs:annotation>
					<xs:documentation>N [17].[2] sum of tax amounts</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxLineItemType">
		<xs:annotation>
			<xs:documentation>complextype Tax</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TaxDetail" type="TaxDetailType">
				<xs:annotation>
					<xs:documentation>taxdetails per tax rate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalTax">
				<xs:annotation>
					<xs:documentation>N [17].[6] sum of tax amounts</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SummaryType">
		<xs:annotation>
			<xs:documentation>complextype Summary</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tax" type="TaxType" minOccurs="0"/>
			<xs:element name="Discount" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Discount on payment (Skonto)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="Days">
								<xs:annotation>
									<xs:documentation>N [2] number of days when discount rate is allowed</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DiscountDate" type="xs:date">
								<xs:annotation>
									<xs:documentation>[yyyy-mm-dd]</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="Rate">
							<xs:annotation>
								<xs:documentation>N [2].[2] Discount rate in %  (Skontosatz in %)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal"/>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TotalAmountExclusiveTax">
				<xs:annotation>
					<xs:documentation>N [17].[2] overall total amount excl. tax</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalAmountInclusiveTax">
				<xs:annotation>
					<xs:documentation>N [17].[2] overall total amount incl. tax. Must correspond to TotalAmount in PaymentData</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Rounding" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N [17].[6] amount of rounding</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FreeText" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>bill summary freetext</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmountPaid" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N [17].[2] total of prepaid amount</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TotalAmountDue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>N [17].[2] total amount incl. tax with  subtraction of prepaid amount. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillType">
		<xs:annotation>
			<xs:documentation>complextype Bill</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header">
				<xs:annotation>
					<xs:documentation>node bill header</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="BillHeaderType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="LineItems">
				<xs:annotation>
					<xs:documentation>node bill line items</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LineItem" type="LineItemType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>detail information per position</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Summary" type="SummaryType">
				<xs:annotation>
					<xs:documentation>node bill summary</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Envelope">
		<xs:annotation>
			<xs:documentation>systemnode</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="HeaderType">
					<xs:annotation>
						<xs:documentation>node envelope header</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Body" type="ybInvoiceType">
					<xs:annotation>
						<xs:documentation>node envelope body</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AccountAssignmentType">
		<xs:annotation>
			<xs:documentation>complextype AccountAssignment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderReference" type="Reference" minOccurs="0">
				<xs:annotation>
					<xs:documentation>order reference has to use "OrderReference" as ReferenceType</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderPosition" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [20] order position  number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrderDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>[yyyy-mm-dd] date of based order</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductIDReceiver" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] article, achievement or product number, assigned by receiver</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CostType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] description of cost type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] description of  account type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AccountValue" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] account number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Division" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] name or identification of company division</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuildingNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN[70] name or identification of the building</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MachineNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN[70] name or identification of the machine</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="JobNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] name or identification of the job</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProjectNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AN [70] name or identification of the project</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:annotation>
			<xs:documentation>complextype Header</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="From">
				<xs:annotation>
					<xs:documentation>AN [70] sender companyname (e.g.: "Muster AG")</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="To">
				<xs:annotation>
					<xs:documentation>AN targetsystemname (value: "IPECeBILLServer")</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IPECeBILLServer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UseCase">
				<xs:annotation>
					<xs:documentation>AN usecasename (value: "CreateybInvoice")</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
						<xs:enumeration value="CreateybInvoice"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SessionID">
				<xs:annotation>
					<xs:documentation>N IPEC systemID (value: "1")</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Version">
				<xs:annotation>
					<xs:documentation>N ybInvoice-version  (value: "2.0")</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2.0"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status">
				<xs:annotation>
					<xs:documentation>N IPEC systemID (value: "0")</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SoftwareName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SoftwareVersion" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reference">
		<xs:annotation>
			<xs:documentation>complextype Reference</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReferencePosition">
				<xs:annotation>
					<xs:documentation>AN [50] position (number) of reference </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceType">
				<xs:annotation>
					<xs:documentation>AN [50] type of reference</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceValue">
				<xs:annotation>
					<xs:documentation>AN [70] value of reference</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FixedReference">
		<xs:annotation>
			<xs:documentation>complextype Reference</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReferencePosition">
				<xs:annotation>
					<xs:documentation>AN [50] position (number) of reference </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceType">
				<xs:annotation>
					<xs:documentation>AN [50] type of reference</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OrderNumberByBuyer"/>
						<xs:enumeration value="OrderNumberBySupplier"/>
						<xs:enumeration value="CreditAdviceNumber"/>
						<xs:enumeration value="BillNumber"/>
						<xs:enumeration value="DispatchNotificationNumber"/>
						<xs:enumeration value="DeliveryNoteNumber"/>
						<xs:enumeration value="OrderReplyNumber"/>
						<xs:enumeration value="BidNumber"/>
						<xs:enumeration value="ContractNumber"/>
						<xs:enumeration value="ReceiptNumber"/>
						<xs:enumeration value="OurSign"/>
						<xs:enumeration value="YourSign"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceValue">
				<xs:annotation>
					<xs:documentation>AN [70] value of reference</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppendixType">
		<xs:annotation>
			<xs:documentation>complextype Appendix</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="Document">
				<xs:annotation>
					<xs:documentation>Any attachment as Base64 String. In case of BillDetailsType= PDFAppendix, the PDF bill detail has to be placed here with MimeType=x-application/pdfappendix. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="MimeType" type="xs:string" use="required"/>
							<xs:attribute name="FileName">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="255"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Instalments">
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Instalment" type="InstalmentType" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>Einzelrate, die der Rechnungsempfänger zur Zahlung freigeben kann. Die maximale Anzahl der Raten pro Ratengruppe ist auf 99 eingeschränkt. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstalmentType">
		<xs:annotation>
			<xs:documentation>complextype Instalment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Amount">
				<xs:annotation>
					<xs:documentation>N [17].[2] amount of instalment inclusive tax</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentDueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>[yyyy-mm-dd] Due date for payment (e.g.:"2004-07-25")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="ESRReferenceNr" minOccurs="0">
					<xs:annotation>
						<xs:documentation>N [27] Reference number of  orange inpayment slip (ESR) </xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="27"/>
							<xs:minLength value="16"/>
							<xs:pattern value="([0-9])*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="CreditorReference" minOccurs="0">
					<xs:annotation>
						<xs:documentation>AN [140] reference</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="140"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
