backend/de.metas.epcis.base/src/main/resources/de/metas/epcis/migros/1_1_1/migros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generiert von XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema xmlns:migros="http://migros.net/migros/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://migros.net/migros/">
	<xs:element name="TU" type="xs:string"/>
	<xs:element name="ArticleAttrExpiryDate" type="xs:dateTime"/>
	<xs:element name="TUAttrCoolingStatus" type="migros:T_TUAttrCoolingStatus"/>
	<xs:element name="TUAttrDeliveryTime" type="xs:dateTime"/>
	<xs:element name="TUAttrHazardStatement" type="migros:T_TUAttrHazardStatement"/>
	<xs:element name="TUAttrHeightCMT" type="xs:string"/>
	<xs:element name="TUAttrBroadCMT" type="xs:string"/>
	<xs:element name="TUAttrLengthCMT" type="xs:string"/>
	<xs:element name="TUAttrPromotion" type="migros:T_TUAttrPromotion"/>
	<xs:element name="TUAttrWeightKGM" type="xs:string"/>
	<xs:simpleType name="T_ArticleAttrExpiryDate">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01.08.2023 22:00:00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_TUAttrCoolingStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="K"/>
			<xs:enumeration value="TK"/>
			<xs:enumeration value="F"/>
			<xs:enumeration value="ZERO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_TUAttrHazardStatement">
		<xs:restriction base="xs:string">
			<xs:enumeration value="H300"/>
			<xs:enumeration value="ZERO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_TUAttrPromotion">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AKTION"/>
			<xs:enumeration value="ZERO"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>