misc/services/camel/de-metas-camel-edi/src/main/xsd/metasfresh/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" jaxb:version="2.0">
    <xsd:attribute name="AD_Client_Value" type="xsd:string">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:property name="AD_Client_ValueAttr"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="SequenceNo" type="xsd:integer">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:property name="SequenceNoAttr"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="TrxName" type="xsd:string">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:property name="TrxNameAttr"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="AD_Session_ID" type="xsd:integer">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:property name="AD_Session_IDAttr"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:simpleType name="ReplicationEventEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="3">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="BeforeDelete"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="5">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="AfterChange"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="9">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="BeforeDeleteReplication"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:attribute name="ReplicationEvent" type="ReplicationEventEnum">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:property name="ReplicationEventAttr"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:simpleType name="ReplicationModeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Table"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Document"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:attribute name="ReplicationMode" type="ReplicationModeEnum">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:property name="ReplicationModeAttr"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:simpleType name="ReplicationTypeEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="L">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Local"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="M">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Merge"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="R">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Reference"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:attribute name="ReplicationType" type="ReplicationTypeEnum">
        <xsd:annotation>
            <xsd:appinfo>
                <jaxb:property name="ReplicationTypeAttr"/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:attribute>
    <xsd:element name="EDI_Exp_C_BPartner_Product_v" type="EDI_Exp_C_BPartner_Product_vType"/>
    <xsd:element name="EDI_Imp_AD_InputDataSource_Lookup_IN" type="EDI_Imp_AD_InputDataSource_Lookup_INType"/>
    <xsd:simpleType name="C_CreditMemo_ReasonEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CMF">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Falschlieferung"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CMD">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Doppellieferung"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="YES-NO">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[YN]"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="InvoicableQtyBasedOnEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CatchWeight">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="CatchWeight"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="Nominal">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Nominal"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="EDI_cctop_invoic_v" type="EDI_cctop_invoic_vType"/>
    <xsd:element name="EDI_cctop_invoic_500_v" type="EDI_cctop_invoic_500_vType"/>
    <xsd:element name="EDI_cctop_000_v" type="EDI_cctop_000_vType"/>
    <xsd:element name="EDI_cctop_111_v" type="EDI_cctop_111_vType"/>
    <xsd:element name="EDI_cctop_119_v" type="EDI_cctop_119_vType"/>
    <xsd:element name="EDI_cctop_120_v" type="EDI_cctop_120_vType"/>
    <xsd:element name="EDI_cctop_140_v" type="EDI_cctop_140_vType"/>
    <xsd:element name="EDI_cctop_901_991_v" type="EDI_cctop_901_991_vType"/>
    <xsd:simpleType name="EDI_ExportStatusEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="P">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Pending"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="S">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Sent"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="D">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="SendingStarted"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="E">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Error"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="U">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Enqueued"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="I">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Invalid"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="N">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="DontSend"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="EDI_Invoice_Feedback" type="EDI_Invoice_FeedbackType"/>
    <xsd:element name="EDI_Exp_C_Location" type="EDI_Exp_C_LocationType"/>
    <xsd:element name="Fresh_C_COUNTRY_LOOKUP_COUNTRYCODE" type="Fresh_C_COUNTRY_LOOKUP_COUNTRYCODEType"/>
    <xsd:simpleType name="C_Order_DeliveryRuleEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Availability"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="S">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="MitNaechsterAbolieferung"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="L">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="CompleteLine"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="M">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Manual"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="F">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Force"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="O">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="CompleteOrder"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="C_Order_DeliveryViaRuleEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="P">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Pickup"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="S">
                <xsd:annotation>
                    <xsd:appinfo>
                        <jaxb:typesafeEnumMember name="Shipper"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="EDI_Imp_C_OLCands" type="EDI_Imp_C_OLCandsType"/>
    <xsd:complexType name="EDI_Imp_C_OLCandsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_Imp_C_OLCand" type="EDI_Imp_C_OLCandType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EDI_Message">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Header">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="SenderID" type="xsd:string"/>
                            <xsd:element name="RecipientID" type="xsd:string"/>
                            <xsd:element name="InterchangeRef" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="DateTime" type="xsd:dateTime" minOccurs="0"/>
                            <xsd:element name="TestIndicator" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element ref="EDI_Imp_C_OLCands" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EDI_Imp_C_OLCand" type="EDI_Imp_C_OLCandType"/>
    <xsd:element name="EDI_Imp_C_BPartner_Location_Lookup_GLN" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType"/>
    <xsd:element name="EDI_Imp_C_UOM_Lookup_UOMSymbol" type="EDI_Imp_C_UOM_Lookup_UOMSymbolType"/>
    <xsd:element name="EDI_Exp_C_BPartner" type="EDI_Exp_C_BPartnerType"/>
    <xsd:element name="EDI_Exp_M_Product" type="EDI_Exp_M_ProductType"/>
    <xsd:element name="EDI_Exp_C_Currency" type="EDI_Exp_C_CurrencyType"/>
    <xsd:element name="EDI_Exp_C_UOM" type="EDI_Exp_C_UOMType"/>
    <xsd:element name="EDI_Imp_C_BPartner_Lookup_RecipientGLN" type="EDI_Imp_C_BPartner_Lookup_RecipientGLNType"/>
    <xsd:element name="EDI_Imp_C_Currency_Lookup_ISOCode" type="EDI_Imp_C_Currency_Lookup_ISOCodeType"/>
    <xsd:element name="EDI_Exp_C_BPartner_Location" type="EDI_Exp_C_BPartner_LocationType"/>
    <xsd:element name="EDI_AD_Org_Lookup_BPL_GLN_v" type="EDI_AD_Org_Lookup_BPL_GLN_vType"/>
    <xsd:element name="EDI_M_Product_Lookup_UPC_v" type="EDI_M_Product_Lookup_UPC_vType"/>
    <xsd:element name="EDI_M_HU_PI_Item_Product_Lookup_UPC_v" type="EDI_M_HU_PI_Item_Product_Lookup_UPC_vType"/>
    <xsd:element name="EDI_C_BPartner_Lookup_BPL_GLN_v" type="EDI_C_BPartner_Lookup_BPL_GLN_vType"/>
    <xsd:element name="EDI_Exp_Desadv" type="EDI_Exp_DesadvType"/>
    <xsd:element name="EDI_Exp_DesadvLine" type="EDI_Exp_DesadvLineType"/>
    <xsd:element name="EDI_Desadv_Feedback" type="EDI_Desadv_FeedbackType"/>
    <xsd:element name="XLS_Imp_C_OLCand" type="XLS_Imp_C_OLCandType"/>
    <xsd:element name="EDI_Exp_Desadv_Pack_Item" type="EDI_Exp_Desadv_Pack_ItemType"/>
    <xsd:element name="EDI_Exp_Desadv_Pack" type="EDI_Exp_Desadv_PackType"/>
    <xsd:complexType name="EDI_Exp_C_BPartner_Product_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ProductNo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UPC" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Imp_AD_InputDataSource_Lookup_INType">
        <xsd:sequence>
            <xsd:element name="InternalName" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_cctop_000_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_BPartner_Location_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="EDI_cctop_000_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="GLN" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_cctop_111_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_Order_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="DateOrdered" type="xsd:date"/>
            <xsd:element minOccurs="0" name="EDI_cctop_111_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="M_InOut_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="MovementDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="POReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="shipment_documentno" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_cctop_119_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Address1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address2" type="xsd:string"/>
            <xsd:element minOccurs="0" name="C_BPartner_Location_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="C_Invoice_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="City" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CountryCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="eancom_locationtype" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EDI_cctop_119_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Fax" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GLN" type="xsd:string"/>
            <xsd:element minOccurs="0" name="M_InOut_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Name2" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Phone" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Postal" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Value" type="xsd:string"/>
            <xsd:element minOccurs="0" name="VATaxID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReferenceNo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Setup_Place_No" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SiteName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Contact" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_cctop_120_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_Invoice_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="EDI_cctop_120_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="ISO_Code" type="xsd:string"/>
            <xsd:element minOccurs="0" name="netdate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="NetDays" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="singlevat" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="taxfree" type="YES-NO"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_cctop_140_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_Invoice_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Discount" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="DiscountDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="DiscountDays" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="EDI_cctop_140_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Rate" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_cctop_invoic_500_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_Invoice_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="EanCom_UOM" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EDI_cctop_invoic_500_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="ISO_Code" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Line" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="LineNetAmt" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Name2" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PriceActual" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PriceList" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="QtyInvoiced" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Rate" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="taxfree" type="YES-NO"/>
            <xsd:element minOccurs="0" name="Value" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CustomerProductNo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EDI_cctop_invoic_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Leergut" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductDescription" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrderPOReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrderLine" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="QtyInvoicedInOrderedUOM" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="EanCom_Ordered_UOM" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TaxAmtInfo" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="EanCom_Price_UOM" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EAN_CU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EAN_TU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GTIN" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UPC_CU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UPC_TU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InvoicableQtyBasedOn" type="InvoicableQtyBasedOnEnum"/>
            <xsd:element minOccurs="0" name="C_UOM_BPartner_ID" type="EDI_Exp_C_UOMType"/>
            <xsd:element minOccurs="0" name="QtyEnteredInBPartnerUOM" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ExternalSeqNo" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Buyer_GTIN_TU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Buyer_GTIN_CU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Buyer_EAN_CU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Supplier_GTIN_CU" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_cctop_901_991_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_Invoice_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="EDI_cctop_901_991_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Rate" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="TaxAmt" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="TaxBaseAmt" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="TotalAmt" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ReferenceNo" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_cctop_invoic_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_BPartner_Location_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="C_Invoice_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="CreditMemoReason" type="C_CreditMemo_ReasonEnum"/>
            <xsd:element minOccurs="0" name="DateInvoiced" type="xsd:date"/>
            <xsd:element minOccurs="0" name="DateOrdered" type="xsd:date"/>
            <xsd:element minOccurs="0" name="eancom_doctype" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EDI_cctop_invoic_v_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="GrandTotal" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="invoice_documentno" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ISO_Code" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MovementDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="POReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="receivergln" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sendergln" type="xsd:string"/>
            <xsd:element minOccurs="0" name="shipment_documentno" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EDIDesadvDocumentNo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TotalLines" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="totaltaxbaseamt" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="totalvat" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="EDI_cctop_000_v" type="EDI_cctop_000_vType"/>
            <xsd:element minOccurs="0" name="EDI_cctop_111_v" type="EDI_cctop_111_vType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_cctop_119_v" type="EDI_cctop_119_vType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_cctop_120_v" type="EDI_cctop_120_vType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_cctop_140_v" type="EDI_cctop_140_vType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_cctop_invoic_500_v" type="EDI_cctop_invoic_500_vType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_cctop_901_991_v" type="EDI_cctop_901_991_vType"/>
            <xsd:element minOccurs="0" name="CountryCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CountryCode_3digit" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditMemoReasonText" type="xsd:string"/>
            <xsd:element minOccurs="0" name="VATaxID" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InvoicableQtyBasedOn" type="InvoicableQtyBasedOnEnum"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Invoice_FeedbackType">
        <xsd:sequence>
            <xsd:element name="C_Invoice_ID" type="xsd:integer"/>
            <xsd:element name="EDI_ExportStatus" type="EDI_ExportStatusEnum"/>
            <xsd:element minOccurs="0" name="EDIErrorMsg" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="Fresh_C_COUNTRY_LOOKUP_COUNTRYCODEType">
        <xsd:sequence>
            <xsd:element name="CountryCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_C_LocationType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Address1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address2" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address3" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address4" type="xsd:string"/>
            <xsd:element minOccurs="0" name="C_Country_ID" type="Fresh_C_COUNTRY_LOOKUP_COUNTRYCODEType"/>
            <xsd:element minOccurs="0" name="City" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Postal" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RegionName" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_AD_Org_Lookup_BPL_GLN_vType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="GLN" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_C_BPartner_Lookup_BPL_GLN_vType">
        <xsd:sequence>
            <xsd:element name="GLN" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StoreGLN" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Imp_C_BPartner_Location_Lookup_GLNType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_BPartner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType"/>
            <xsd:element name="GLN" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Imp_C_Currency_Lookup_ISOCodeType">
        <xsd:sequence>
            <xsd:element name="ISO_Code" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Imp_C_UOM_Lookup_UOMSymbolType">
        <xsd:sequence>
            <xsd:element name="X12DE355" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_M_Product_Lookup_UPC_vType">
        <xsd:sequence>
            <xsd:element name="UPC" type="xsd:string"/>
            <xsd:element name="GLN" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_M_HU_PI_Item_Product_Lookup_UPC_vType">
        <xsd:sequence>
            <xsd:element name="UPC" type="xsd:string"/>
            <xsd:element name="GLN" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StoreGLN" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Imp_C_OLCandType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AD_DataDestination_ID" type="EDI_Imp_AD_InputDataSource_Lookup_INType"/>
            <xsd:element name="AD_InputDataSource_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="AD_Org_ID" type="EDI_AD_Org_Lookup_BPL_GLN_vType"/>
            <xsd:element name="AD_User_EnteredBy_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Bill_BPartner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType"/>
            <xsd:element minOccurs="0" name="Bill_Location_ID" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType"/>
            <xsd:element minOccurs="0" name="C_BPartner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType"/>
            <xsd:element minOccurs="0" name="C_BPartner_Location_ID" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType"/>
            <xsd:element minOccurs="0" name="C_Currency_ID" type="EDI_Imp_C_Currency_Lookup_ISOCodeType"/>
            <xsd:element minOccurs="0" name="C_UOM_ID" type="EDI_Imp_C_UOM_Lookup_UOMSymbolType"/>
            <xsd:element name="DateCandidate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="DeliveryRule" type="C_Order_DeliveryRuleEnum"/>
            <xsd:element minOccurs="0" name="DeliveryViaRule" type="C_Order_DeliveryViaRuleEnum"/>
            <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductDescription" type="xsd:string"/>
            <xsd:element name="IsManualPrice" type="YES-NO"/>
            <xsd:element minOccurs="0" name="M_Product_ID" type="EDI_M_Product_Lookup_UPC_vType"/>
            <xsd:element minOccurs="0" name="PriceEntered" type="xsd:decimal"/>
            <xsd:element name="QtyEntered" type="xsd:decimal"/>
            <xsd:element name="Line" type="xsd:integer"/>
            <xsd:element name="POReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="HandOver_Location_ID" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType"/>
            <xsd:element minOccurs="0" name="M_HU_PI_Item_Product_ID" type="EDI_M_HU_PI_Item_Product_Lookup_UPC_vType"/>
            <xsd:element minOccurs="0" name="HandOver_Partner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType"/>
            <xsd:element minOccurs="0" name="DropShip_BPartner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType"/>
            <xsd:element minOccurs="0" name="DropShip_Location_ID" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType"/>
            <xsd:element minOccurs="0" name="QtyItemCapacity" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DatePromised" type="xsd:dateTime"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_C_BPartnerType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="EdiRecipientGLN" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Name2" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_M_ProductType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Volume" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Weight" type="xsd:decimal"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_C_CurrencyType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="CurSymbol" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ISO_4217Numeric" type="xsd:string"/>
            <xsd:element name="ISO_Code" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_C_UOMType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UOMSymbol" type="xsd:string"/>
            <xsd:element name="X12DE355" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Imp_C_BPartner_Lookup_RecipientGLNType">
        <xsd:sequence>
            <xsd:element name="EdiRecipientGLN" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_C_BPartner_LocationType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="GLN" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Setup_Place_No" type="xsd:string"/>
            <xsd:element minOccurs="0" name="C_Location_ID" type="EDI_Exp_C_LocationType"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_DesadvLineType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_UOM_ID" type="EDI_Exp_C_UOMType"/>
            <xsd:element name="EDI_DesadvLine_ID" type="xsd:integer"/>
            <xsd:element name="Line" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="M_Product_ID" type="EDI_Exp_M_ProductType"/>
            <xsd:element minOccurs="0" name="ProductDescription" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductNo" type="xsd:string"/>
            <xsd:element name="QtyEntered" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="UPC" type="xsd:string"/>
            <xsd:element name="IsSubsequentDeliveryPlanned" type="YES-NO"/>
            <xsd:element minOccurs="0" name="EAN_CU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EAN_TU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GTIN" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UPC_TU" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PriceActual" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="EanCom_Invoice_UOM" type="xsd:string"/>
            <xsd:element name="InvoicableQtyBasedOn" type="InvoicableQtyBasedOnEnum"/>
            <xsd:element minOccurs="0" name="OrderPOReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="QtyItemCapacity" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="QtyDeliveredInInvoiceUOM" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="QtyDeliveredInUOM" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="OrderLine" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="ExternalSeqNo" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="C_UOM_BPartner_ID" type="EDI_Exp_C_UOMType"/>
            <xsd:element minOccurs="0" name="QtyEnteredInBPartnerUOM" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="BPartner_QtyItemCapacity" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_Desadv_Pack_ItemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="BestBeforeDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="LotNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="QtyCUsPerTU" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="QtyCUsPerLU" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="QtyCUsPerLU_InInvoiceUOM" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="QtyCUsPerTU_InInvoiceUOM" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="QtyTU" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="EDI_DesadvLine_ID" type="EDI_Exp_DesadvLineType"/>
            <xsd:element minOccurs="0" name="GTIN_TU_PackingMaterial" type="xsd:string"/>
            <xsd:element minOccurs="0" name="M_HU_PackagingCode_TU_Text" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_Desadv_PackType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="GTIN_LU_PackingMaterial" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IPA_SSCC18" type="xsd:string"/>
            <xsd:element minOccurs="0" name="M_HU_PackagingCode_LU_Text" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_Exp_Desadv_Pack_Item" type="EDI_Exp_Desadv_Pack_ItemType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_DesadvLineWithNoPackType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="EDI_DesadvLine_ID" type="EDI_Exp_DesadvLineType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EDI_Exp_DesadvType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="C_BPartner_ID" type="EDI_Exp_C_BPartnerType"/>
            <xsd:element minOccurs="0" name="C_BPartner_Location_ID" type="EDI_Exp_C_BPartner_LocationType"/>
            <xsd:element minOccurs="0" name="DateOrdered" type="xsd:date"/>
            <xsd:element name="DocumentNo" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShipmentDocumentNo" type="xsd:string"/>
            <xsd:element name="EDI_Desadv_ID" type="xsd:integer"/>
            <xsd:element name="EDI_ExportStatus" type="EDI_ExportStatusEnum"/>
            <xsd:element name="MovementDate" type="xsd:date"/>
            <xsd:element minOccurs="0" name="POReference" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_Exp_Desadv_Pack" type="EDI_Exp_Desadv_PackType"/>
            <xsd:element minOccurs="0" name="Bill_Location_ID" type="EDI_Exp_C_BPartner_LocationType"/>
            <xsd:element minOccurs="0" name="C_Currency_ID" type="EDI_Exp_C_CurrencyType"/>
            <xsd:element minOccurs="0" name="HandOver_Location_ID" type="EDI_Exp_C_BPartner_LocationType"/>
            <xsd:element minOccurs="0" name="DropShip_BPartner_ID" type="EDI_Exp_C_BPartnerType"/>
            <xsd:element minOccurs="0" name="DropShip_Location_ID" type="EDI_Exp_C_BPartner_LocationType"/>
            <xsd:element minOccurs="0" name="HandOver_Partner_ID" type="EDI_Exp_C_BPartnerType"/>
            <xsd:element minOccurs="0" name="InvoicableQtyBasedOn" type="InvoicableQtyBasedOnEnum"/>
            <xsd:element minOccurs="0" name="DeliveryViaRule" type="C_Order_DeliveryViaRuleEnum"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EDI_Exp_DesadvLineWithNoPack" type="EDI_Exp_DesadvLineWithNoPackType"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="EDI_Desadv_FeedbackType">
        <xsd:sequence>
            <xsd:element name="EDI_Desadv_ID" type="xsd:integer"/>
            <xsd:element name="EDI_ExportStatus" type="EDI_ExportStatusEnum"/>
            <xsd:element minOccurs="0" name="EDIErrorMsg" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:complexType name="XLS_Imp_C_OLCandType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AD_DataDestination_ID" type="EDI_Imp_AD_InputDataSource_Lookup_INType"/>
            <xsd:element name="AD_InputDataSource_ID" type="xsd:integer"/>
            <xsd:element name="AD_Org_ID" type="xsd:integer"/>
            <xsd:element name="AD_User_EnteredBy_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Bill_BPartner_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="Bill_Location_ID" type="xsd:integer"/>
            <xsd:element name="C_BPartner_ID" type="xsd:integer"/>
            <xsd:element name="C_BPartner_Location_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="C_Currency_ID" type="EDI_Imp_C_Currency_Lookup_ISOCodeType"/>
            <xsd:element minOccurs="0" name="C_UOM_ID" type="EDI_Imp_C_UOM_Lookup_UOMSymbolType"/>
            <xsd:element name="DateCandidate" type="xsd:date"/>
            <xsd:element name="DeliveryRule" type="C_Order_DeliveryRuleEnum"/>
            <xsd:element name="DeliveryViaRule" type="C_Order_DeliveryViaRuleEnum"/>
            <xsd:element minOccurs="0" name="Description" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProductDescription" type="xsd:string"/>
            <xsd:element name="IsManualPrice" type="YES-NO"/>
            <xsd:element minOccurs="0" name="M_Product_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="PriceEntered" type="xsd:decimal"/>
            <xsd:element name="Qty" type="xsd:decimal"/>
            <xsd:element name="Line" type="xsd:integer"/>
            <xsd:element name="POReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="HandOver_Location_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="M_HU_PI_Item_Product_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="HandOver_Partner_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="DropShip_BPartner_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="DropShip_Location_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="QtyItemCapacity" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DatePromised" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="M_ProductPrice_ID" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="M_ProductPrice_Attribute_ID" type="xsd:integer"/>
            <xsd:element name="IsExplicitProductPriceAttribute" type="YES-NO"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:element name="EDI_Exp_DesadvLineWithNoPack" type="EDI_Exp_DesadvLineWithNoPackType"/>
    <xsd:complexType name="EDI_ReplicationTrx_UpdateType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IsReplicationTrxFinished" type="YES-NO"/>
            <xsd:element minOccurs="0" name="IsError" type="YES-NO"/>
            <xsd:element minOccurs="0" name="ErrorMsg" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute ref="AD_Client_Value"/>
        <xsd:attribute ref="ReplicationEvent"/>
        <xsd:attribute ref="ReplicationMode"/>
        <xsd:attribute ref="ReplicationType"/>
        <xsd:attribute fixed="*" name="Version" type="xsd:string">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:property name="VersionAttr"/>
                </xsd:appinfo>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute ref="SequenceNo"/>
        <xsd:attribute ref="TrxName"/>
        <xsd:attribute ref="AD_Session_ID"/>
    </xsd:complexType>
    <xsd:element name="EDI_ReplicationTrx_Update" type="EDI_ReplicationTrx_UpdateType"/>
</xsd:schema>
