misc/services/camel/de-metas-camel-edi/src/main/xsd/metasfresh/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 (http://www.altova.com) by Marlene Lindner (ecosio GmbH) -->
<xsd:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" jaxb:version="2.0">
	<xsd:attribute name="AD_Client_Value" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:property name="AD_Client_ValueAttr"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="SequenceNo" type="xsd:integer">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:property name="SequenceNoAttr"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="TrxName" type="xsd:string">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:property name="TrxNameAttr"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="AD_Session_ID" type="xsd:integer">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:property name="AD_Session_IDAttr"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:simpleType name="ReplicationEventEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="3">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="BeforeDelete"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="5">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="AfterChange"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="9">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="BeforeDeleteReplication"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attribute name="ReplicationEvent" type="ReplicationEventEnum">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:property name="ReplicationEventAttr"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:simpleType name="ReplicationModeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Table"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="1">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Document"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attribute name="ReplicationMode" type="ReplicationModeEnum">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:property name="ReplicationModeAttr"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:simpleType name="ReplicationTypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="L">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Local"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="M">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Merge"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="R">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Reference"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attribute name="ReplicationType" type="ReplicationTypeEnum">
		<xsd:annotation>
			<xsd:appinfo>
				<jaxb:property name="ReplicationTypeAttr"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:element name="EDI_Exp_C_BPartner_Product_v" type="EDI_Exp_C_BPartner_Product_vType"/>
	<xsd:element name="EDI_Imp_AD_InputDataSource_Lookup_IN" type="EDI_Imp_AD_InputDataSource_Lookup_INType"/>
	<xsd:simpleType name="C_CreditMemo_ReasonEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CMF">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Falschlieferung"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CMD">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Doppellieferung"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YES-NO">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[YN]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="EDI_cctop_invoic_v" type="EDI_cctop_invoic_vType"/>
	<xsd:element name="EDI_cctop_invoic_500_v" type="EDI_cctop_invoic_500_vType"/>
	<xsd:element name="EDI_cctop_000_v" type="EDI_cctop_000_vType"/>
	<xsd:element name="EDI_cctop_111_v" type="EDI_cctop_111_vType"/>
	<xsd:element name="EDI_cctop_119_v" type="EDI_cctop_119_vType"/>
	<xsd:element name="EDI_cctop_120_v" type="EDI_cctop_120_vType"/>
	<xsd:element name="EDI_cctop_140_v" type="EDI_cctop_140_vType"/>
	<xsd:element name="EDI_cctop_901_991_v" type="EDI_cctop_901_991_vType"/>
	<xsd:simpleType name="EDI_ExportStatusEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Pending"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Sent"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="D">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="SendingStarted"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="E">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Error"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="U">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Enqueued"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="I">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Invalid"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="N">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="DontSend"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="EDI_Invoice_Feedback" type="EDI_Invoice_FeedbackType"/>
	<xsd:simpleType name="C_Order_DeliveryRuleEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Availability"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="MitNaechsterAbolieferung"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="L">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="CompleteLine"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="M">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Manual"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="F">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Force"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="O">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="CompleteOrder"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="C_Order_DeliveryViaRuleEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Pickup"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="S">
				<xsd:annotation>
					<xsd:appinfo>
						<jaxb:typesafeEnumMember name="Shipper"/>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="EDI_Imp_C_OLCands" type="EDI_Imp_C_OLCandsType"/>
	<xsd:complexType name="EDI_Imp_C_OLCandsType">
		<xsd:sequence>
			<xsd:element name="EDI_Imp_C_OLCand" type="EDI_Imp_C_OLCandType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EDI_Message">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SenderID" type="xsd:string"/>
							<xsd:element name="RecipientID" type="xsd:string"/>
							<xsd:element name="InterchangeRef" type="xsd:string" minOccurs="0"/>
							<xsd:element name="DateTime" type="xsd:dateTime" minOccurs="0"/>
							<xsd:element name="TestIndicator" type="xsd:string" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="EDI_Imp_C_OLCands" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EDI_Imp_C_OLCand" type="EDI_Imp_C_OLCandType"/>
	<xsd:element name="EDI_Imp_C_BPartner_Location_Lookup_GLN" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType"/>
	<xsd:element name="EDI_Imp_C_UOM_Lookup_UOMSymbol" type="EDI_Imp_C_UOM_Lookup_UOMSymbolType"/>
	<xsd:element name="EDI_Exp_C_BPartner" type="EDI_Exp_C_BPartnerType"/>
	<xsd:element name="EDI_Exp_M_Product" type="EDI_Exp_M_ProductType"/>
	<xsd:element name="EDI_Exp_C_Currency" type="EDI_Exp_C_CurrencyType"/>
	<xsd:element name="EDI_Exp_C_UOM" type="EDI_Exp_C_UOMType"/>
	<xsd:element name="EDI_Imp_C_BPartner_Lookup_RecipientGLN" type="EDI_Imp_C_BPartner_Lookup_RecipientGLNType"/>
	<xsd:element name="EDI_Imp_C_Currency_Lookup_ISOCode" type="EDI_Imp_C_Currency_Lookup_ISOCodeType"/>
	<xsd:element name="EDI_Exp_C_BPartner_Location" type="EDI_Exp_C_BPartner_LocationType"/>
	<xsd:element name="EDI_AD_Org_Lookup_BPL_GLN_v" type="EDI_AD_Org_Lookup_BPL_GLN_vType"/>
	<xsd:element name="EDI_M_Product_Lookup_UPC_v" type="EDI_M_Product_Lookup_UPC_vType"/>
	<xsd:element name="EDI_M_HU_PI_Item_Product_Lookup_UPC_v" type="EDI_M_HU_PI_Item_Product_Lookup_UPC_vType"/>
	<xsd:element name="EDI_C_BPartner_Lookup_BPL_GLN_v" type="EDI_C_BPartner_Lookup_BPL_GLN_vType"/>
	<xsd:element name="EDI_Exp_Desadv" type="EDI_Exp_DesadvType"/>
	<xsd:element name="EDI_Exp_DesadvLine" type="EDI_Exp_DesadvLineType"/>
	<xsd:element name="EDI_Desadv_Feedback" type="EDI_Desadv_FeedbackType"/>
	<xsd:element name="XLS_Imp_C_OLCand" type="XLS_Imp_C_OLCandType"/>
	<xsd:complexType name="EDI_Exp_C_BPartner_Product_vType">
		<xsd:sequence>
			<xsd:element name="ProductNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPC" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Imp_AD_InputDataSource_Lookup_INType">
		<xsd:sequence>
			<xsd:element name="InternalName" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_cctop_000_vType">
		<xsd:sequence>
			<xsd:element name="C_BPartner_Location_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="EDI_cctop_000_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="GLN" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_cctop_111_vType">
		<xsd:sequence>
			<xsd:element name="C_Order_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="DateOrdered" type="xsd:date" minOccurs="0"/>
			<xsd:element name="EDI_cctop_111_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="M_InOut_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="MovementDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="POReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shipment_documentno" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_cctop_119_vType">
		<xsd:sequence>
			<xsd:element name="Address1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="C_BPartner_Location_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="C_Invoice_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="eancom_locationtype" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EDI_cctop_119_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GLN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="M_InOut_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Name2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Phone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Postal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VATaxID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReferenceNo" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_cctop_120_vType">
		<xsd:sequence>
			<xsd:element name="C_Invoice_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="EDI_cctop_120_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ISO_Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="netdate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="NetDays" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="singlevat" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="taxfree" type="YES-NO" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_cctop_140_vType">
		<xsd:sequence>
			<xsd:element name="C_Invoice_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Discount" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="DiscountDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DiscountDays" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="EDI_cctop_140_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Rate" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_cctop_invoic_500_vType">
		<xsd:sequence>
			<xsd:element name="C_Invoice_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="EanCom_UOM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EDI_cctop_invoic_500_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ISO_Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Line" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="LineNetAmt" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Name2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PriceActual" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="PriceList" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="QtyInvoiced" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="Rate" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="taxfree" type="YES-NO" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VendorProductNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EDI_cctop_invoic_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Leergut" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProductDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrderPOReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrderLine" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="QtyInvoicedInOrderedUOM" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="EanCom_Ordered_UOM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaxAmtInfo" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="EanCom_Price_UOM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EAN_CU" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EAN_TU" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GTIN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPC_CU" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPC_TU" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_cctop_901_991_vType">
		<xsd:sequence>
			<xsd:element name="C_Invoice_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="EDI_cctop_901_991_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="Rate" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="TaxAmt" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="TaxBaseAmt" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="TotalAmt" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="ReferenceNo" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_cctop_invoic_vType">
		<xsd:sequence>
			<xsd:element name="C_BPartner_Location_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="C_Invoice_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="CreditMemoReason" type="C_CreditMemo_ReasonEnum" minOccurs="0"/>
			<xsd:element name="DateInvoiced" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DateOrdered" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute ref="DateFormat"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="eancom_doctype" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EDI_cctop_invoic_v_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="GrandTotal" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="invoice_documentno" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ISO_Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MovementDate" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute ref="DateFormat"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="POReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="receivergln" type="xsd:string" minOccurs="0"/>
			<xsd:element name="sendergln" type="xsd:string" minOccurs="0"/>
			<xsd:element name="shipment_documentno" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TotalLines" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="totaltaxbaseamt" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="totalvat" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="EDI_cctop_000_v" type="EDI_cctop_000_vType" minOccurs="0"/>
			<xsd:element name="EDI_cctop_111_v" type="EDI_cctop_111_vType" minOccurs="0"/>
			<xsd:element name="EDI_cctop_119_v" type="EDI_cctop_119_vType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EDI_cctop_120_v" type="EDI_cctop_120_vType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EDI_cctop_140_v" type="EDI_cctop_140_vType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EDI_cctop_invoic_500_v" type="EDI_cctop_invoic_500_vType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EDI_cctop_901_991_v" type="EDI_cctop_901_991_vType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode_3digit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditMemoReasonText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VATaxID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Invoice_FeedbackType">
		<xsd:sequence>
			<xsd:element name="C_Invoice_ID" type="xsd:integer"/>
			<xsd:element name="EDI_ExportStatus" type="EDI_ExportStatusEnum"/>
			<xsd:element name="EDIErrorMsg" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_AD_Org_Lookup_BPL_GLN_vType">
		<xsd:sequence>
			<xsd:element name="GLN" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_C_BPartner_Lookup_BPL_GLN_vType">
		<xsd:sequence>
			<xsd:element name="GLN" type="xsd:string"/>
			<xsd:element name="StoreGLN" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_Imp_C_BPartner_Location_Lookup_GLNType">
		<xsd:sequence>
			<xsd:element name="C_BPartner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType" minOccurs="0"/>
			<xsd:element name="GLN" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_Imp_C_Currency_Lookup_ISOCodeType">
		<xsd:sequence>
			<xsd:element name="ISO_Code" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_Imp_C_UOM_Lookup_UOMSymbolType">
		<xsd:sequence>
			<xsd:element name="X12DE355" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_M_Product_Lookup_UPC_vType">
		<xsd:sequence>
			<xsd:element name="UPC" type="xsd:string"/>
			<xsd:element name="GLN" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_M_HU_PI_Item_Product_Lookup_UPC_vType">
		<xsd:sequence>
			<xsd:element name="UPC" type="xsd:string"/>
			<xsd:element name="GLN" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_Imp_C_OLCandType">
		<xsd:sequence>
			<xsd:element name="AD_DataDestination_ID" type="EDI_Imp_AD_InputDataSource_Lookup_INType" minOccurs="0"/>
			<xsd:element name="AD_InputDataSource_ID" type="xsd:integer"/>
			<xsd:element name="AD_Org_ID" type="EDI_AD_Org_Lookup_BPL_GLN_vType" minOccurs="0"/>
			<xsd:element name="AD_User_EnteredBy_ID" type="xsd:integer"/>
			<xsd:element name="Bill_BPartner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType" minOccurs="0"/>
			<xsd:element name="Bill_Location_ID" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType" minOccurs="0"/>
			<xsd:element name="C_BPartner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType" minOccurs="0"/>
			<xsd:element name="C_BPartner_Location_ID" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType" minOccurs="0"/>
			<xsd:element name="C_Currency_ID" type="EDI_Imp_C_Currency_Lookup_ISOCodeType" minOccurs="0"/>
			<xsd:element name="C_UOM_ID" type="EDI_Imp_C_UOM_Lookup_UOMSymbolType" minOccurs="0"/>
			<xsd:element name="DateCandidate" type="xsd:date"/>
			<xsd:element name="DeliveryRule" type="C_Order_DeliveryRuleEnum"/>
			<xsd:element name="DeliveryViaRule" type="C_Order_DeliveryViaRuleEnum"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProductDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IsManualPrice" type="YES-NO"/>
			<xsd:element name="M_Product_ID" type="EDI_M_Product_Lookup_UPC_vType" minOccurs="0"/>
			<xsd:element name="PriceEntered" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="QtyEntered" type="xsd:decimal"/>
			<xsd:element name="Line" type="xsd:integer"/>
			<xsd:element name="POReference" type="xsd:string"/>
			<xsd:element name="HandOver_Location_ID" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType" minOccurs="0"/>
			<xsd:element name="M_HU_PI_Item_Product_ID" type="EDI_M_HU_PI_Item_Product_Lookup_UPC_vType" minOccurs="0"/>
			<xsd:element name="HandOver_Partner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType" minOccurs="0"/>
			<xsd:element name="DropShip_BPartner_ID" type="EDI_C_BPartner_Lookup_BPL_GLN_vType" minOccurs="0"/>
			<xsd:element name="DropShip_Location_ID" type="EDI_Imp_C_BPartner_Location_Lookup_GLNType" minOccurs="0"/>
			<xsd:element name="QtyItemCapacity" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="DatePromised" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Exp_C_BPartnerType">
		<xsd:sequence>
			<xsd:element name="EdiRecipientGLN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Exp_M_ProductType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Value" type="xsd:string"/>
			<xsd:element name="Volume" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="Weight" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Exp_C_CurrencyType">
		<xsd:sequence>
			<xsd:element name="CurSymbol" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ISO_4217Numeric" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ISO_Code" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Exp_C_UOMType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="UOMSymbol" type="xsd:string" minOccurs="0"/>
			<xsd:element name="X12DE355" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Imp_C_BPartner_Lookup_RecipientGLNType">
		<xsd:sequence>
			<xsd:element name="EdiRecipientGLN" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Exp_C_BPartner_LocationType">
		<xsd:sequence>
			<xsd:element name="GLN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Exp_DesadvLine_PackType">
		<xsd:sequence>
			<xsd:element name="IPA_SSCC18" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LotNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="QtyCU" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="QtyCUsPerLU" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="QtyTU" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="BestBeforeDate" minOccurs="0">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute ref="DateFormat"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="M_HU_PackagingCode_LU_Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="M_HU_PackagingCode_TU_Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="C_UOM_ID" type="EDI_Exp_C_UOMType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_Exp_DesadvLineType">
		<xsd:sequence>
			<xsd:element name="C_UOM_ID" type="EDI_Exp_C_UOMType" minOccurs="0"/>
			<xsd:element name="EDI_Exp_DesadvLine_Pack" type="EDI_Exp_DesadvLine_PackType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Line" type="xsd:integer"/>
			<xsd:element name="M_Product_ID" type="EDI_Exp_M_ProductType" minOccurs="0"/>
			<xsd:element name="ProductDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProductNo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="QtyEntered" type="xsd:decimal"/>
			<xsd:element name="UPC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IsSubsequentDeliveryPlanned" type="YES-NO"/>
			<xsd:element name="EAN_CU" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EAN_TU" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GTIN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPC_TU" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PriceActual" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EDI_Exp_DesadvType">
		<xsd:sequence>
			<xsd:element name="C_BPartner_ID" type="EDI_Exp_C_BPartnerType" minOccurs="0"/>
			<xsd:element name="C_BPartner_Location_ID" type="EDI_Exp_C_BPartner_LocationType" minOccurs="0"/>
			<xsd:element name="DateOrdered" type="xsd:date" minOccurs="0"/>
			<xsd:element name="DocumentNo" type="xsd:string"/>
			<xsd:element name="EDI_Desadv_ID" type="xsd:integer"/>
			<xsd:element name="EDI_ExportStatus" type="EDI_ExportStatusEnum"/>
			<xsd:element name="MovementDate" type="xsd:date"/>
			<xsd:element name="POReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EDI_Exp_DesadvLine" type="EDI_Exp_DesadvLineType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Bill_Location_ID" type="EDI_Exp_C_BPartner_LocationType" minOccurs="0"/>
			<xsd:element name="C_Currency_ID" type="EDI_Exp_C_CurrencyType" minOccurs="0"/>
			<xsd:element name="HandOver_Location_ID" type="EDI_Exp_C_BPartner_LocationType" minOccurs="0"/>
			<xsd:element name="DropShip_Location_ID" type="EDI_Exp_C_BPartner_LocationType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="EDI_Desadv_FeedbackType">
		<xsd:sequence>
			<xsd:element name="EDI_Desadv_ID" type="xsd:integer"/>
			<xsd:element name="EDI_ExportStatus" type="EDI_ExportStatusEnum"/>
			<xsd:element name="EDIErrorMsg" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:complexType name="XLS_Imp_C_OLCandType">
		<xsd:sequence>
			<xsd:element name="AD_DataDestination_ID" type="EDI_Imp_AD_InputDataSource_Lookup_INType" minOccurs="0"/>
			<xsd:element name="AD_InputDataSource_ID" type="xsd:integer"/>
			<xsd:element name="AD_Org_ID" type="xsd:integer"/>
			<xsd:element name="AD_User_EnteredBy_ID" type="xsd:integer"/>
			<xsd:element name="C_BPartner_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="C_BPartner_Location_ID" type="xsd:integer"/>
			<xsd:element name="C_Currency_ID" type="EDI_Imp_C_Currency_Lookup_ISOCodeType" minOccurs="0"/>
			<xsd:element name="C_UOM_ID" type="EDI_Imp_C_UOM_Lookup_UOMSymbolType" minOccurs="0"/>
			<xsd:element name="DateCandidate" type="xsd:date"/>
			<xsd:element name="DeliveryRule" type="C_Order_DeliveryRuleEnum"/>
			<xsd:element name="DeliveryViaRule" type="C_Order_DeliveryViaRuleEnum"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProductDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IsManualPrice" type="YES-NO"/>
			<xsd:element name="M_Product_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="PriceEntered" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="Qty" type="xsd:decimal"/>
			<xsd:element name="Line" type="xsd:integer"/>
			<xsd:element name="POReference" type="xsd:string"/>
			<xsd:element name="M_HU_PI_Item_Product_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="QtyItemCapacity" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="DatePromised" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="M_ProductPrice_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="M_ProductPrice_Attribute_ID" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="IsExplicitProductPriceAttribute" type="YES-NO"/>
		</xsd:sequence>
		<xsd:attribute ref="AD_Client_Value"/>
		<xsd:attribute ref="ReplicationEvent"/>
		<xsd:attribute ref="ReplicationMode"/>
		<xsd:attribute ref="ReplicationType"/>
		<xsd:attribute name="Version" type="xsd:string" fixed="*">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="VersionAttr"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="SequenceNo"/>
		<xsd:attribute ref="TrxName"/>
		<xsd:attribute ref="AD_Session_ID"/>
	</xsd:complexType>
	<xsd:element name="EDI_Exp_DesadvLine_Pack" type="EDI_Exp_DesadvLine_PackType"/>
	<xsd:attribute name="DateFormat" type="xsd:string"/>
</xsd:schema>
