backend/de.metas.epcis.base/src/main/resources/de/metas/epcis/migros/1_1_0/1_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generiert von XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema xmlns:epcis="urn:epcglobal:epcis:xsd:1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:epcglobal:epcis:xsd:1">
	<xs:import schemaLocation="parameter.xsd"/>
	<xs:element name="EPCISDocument" type="epcis:T_EPCISDocument"/>
	<xs:complexType name="T_EPCISDocument">
		<xs:sequence>
			<xs:element ref="EPCISBody"/>
		</xs:sequence>
		<xs:attribute name="creationDate" type="xs:dateTime" use="required"/>
		<xs:attribute name="schemaVersion" type="xs:decimal" use="required"/>
	</xs:complexType>
</xs:schema>