backend/de.metas.epcis.base/src/main/resources/de/metas/epcis/migros/3_3_3_CD/Archiv/parameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generiert von XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema xmlns:migros="http://migros.net/migros/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://migros.net/migros/" schemaLocation="mhd.xsd"/>
	<xs:element name="AggregationEvent" type="T_AggregationEvent"/>
	<xs:element name="EPCISBody" type="T_EPCISBody"/>
	<xs:element name="EventList" type="T_EventList"/>
	<xs:element name="action" type="T_action"/>
	<xs:element name="bizLocation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="50"/>
							<xs:pattern value=".*urn:epc:id:sgln:.*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bizStep" type="xs:string" fixed="urn:epcglobal:cbv:bizstep:picking"/>
	<xs:element name="bizTransaction">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="containsSglnEndsWithZeroAndLengthString3">
					<xs:attribute name="type" type="myType3" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="myType3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="urn:epcglobal:cbv:btt:prodorder"/>
			<xs:enumeration value="urn:epcglobal:cbv:btt:po"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="containsSglnEndsWithZeroAndLengthString3">
		<xs:restriction base="xs:string">
			<xs:pattern value=".*urn:epcglobal:cbv:bt:.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="bizTransactionList" type="T_bizTransactionList"/>
	<xs:element name="childEPCs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="epc" maxOccurs="unbounded">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="33"/>
							<xs:pattern value=".*urn:epc:id:sgtin:.*0"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="childQuantityList" type="T_childQuantityList"/>
	<xs:element name="destination" type="T_destination"/>
	<xs:element name="destinationList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="destination" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="containsSglnEndsWithZeroAndLengthString2">
								<xs:attribute name="type" type="myType2" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="myType2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://migros.net/migros/ele/dest/DP"/>
			<xs:enumeration value="http://migros.net/migros/ele/dest/UC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="containsSglnEndsWithZeroAndLengthString2">
		<xs:restriction base="xs:string">
			<xs:length value="31"/>
			<xs:pattern value=".*urn:epc:id:sgln:.*0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="disposition" type="xs:string" fixed="urn:epcglobal:cbv:disp:in_progress"/>
	<xs:element name="epc" type="xs:anyURI"/>
	<xs:element name="epcClass">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value=".*urn:epc:class:lgtin:.*"/>
				<xs:pattern value=".*urn:epc:idpat:sgtin:.*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="eventTime" type="xs:dateTime"/>
	<xs:element name="eventTimeZoneOffset" type="T_eventTimeZoneOffset"/>
	<xs:element name="extension" type="T_extension"/>
	<xs:element name="id" type="xs:anyURI"/>
	<xs:element name="parentID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="42"/>
				<xs:pattern value=".*urn:epc:id:grai:.*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quantity" type="xs:byte"/>
	<xs:element name="quantityElement" type="T_quantityElement"/>
	<xs:element name="readPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="50"/>
							<xs:pattern value=".*urn:epc:id:sgln:.*"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="recordTime" type="xs:dateTime"/>
	<xs:element name="source">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="containsSglnEndsWithZeroAndLengthString">
					<xs:attribute name="type" type="myType" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="myType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://migros.net/migros/ele/dest/SU"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="containsSglnEndsWithZeroAndLengthString">
		<xs:restriction base="xs:string">
			<xs:length value="31"/>
			<xs:pattern value=".*urn:epc:id:sgln:.*0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="sourceList" type="T_sourceList"/>
	<xs:complexType name="T_AggregationEvent">
		<xs:sequence>
			<xs:element ref="eventTime"/>
			<xs:element ref="recordTime"/>
			<xs:element ref="eventTimeZoneOffset"/>
			<xs:element ref="parentID"/>
			<xs:element ref="childEPCs"/>
			<xs:element ref="action"/>
			<xs:element ref="bizStep"/>
			<xs:element ref="disposition"/>
			<xs:element ref="readPoint"/>
			<xs:element ref="bizLocation"/>
			<xs:element ref="bizTransactionList"/>
			<xs:element ref="extension"/>
			<xs:element ref="migros:TUAttrWeigthKGM" minOccurs="0"/>
			<xs:element ref="migros:TUAttrHeightCMT" minOccurs="0"/>
			<xs:element ref="migros:TUAttrPromotion" minOccurs="0"/>
			<xs:element ref="migros:TUAttrCoolingStatus" minOccurs="0"/>
			<xs:element ref="migros:TUAttrHazardStatement" minOccurs="0"/>
			<xs:element ref="migros:TUAttrDeliveryTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_EPCISBody">
		<xs:sequence>
			<xs:element ref="EventList"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_EventList">
		<xs:sequence>
			<xs:element ref="AggregationEvent"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_bizLocation">
		<xs:sequence>
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_bizTransaction">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="type" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_bizTransactionList">
		<xs:sequence>
			<xs:element ref="bizTransaction"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_childEPCs">
		<xs:sequence>
			<xs:element ref="epc"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_childQuantityList">
		<xs:sequence>
			<xs:element ref="quantityElement" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_destination">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="type" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_destinationList">
		<xs:sequence>
			<xs:element ref="destination" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_extension">
		<xs:sequence>
			<xs:element ref="childQuantityList"/>
			<xs:element ref="sourceList"/>
			<xs:element ref="destinationList"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_quantityElement">
		<xs:sequence>
			<xs:element ref="epcClass"/>
			<xs:element ref="quantity"/>
			<xs:element ref="migros:ArticleAttrExpiryDate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_readPoint">
		<xs:sequence>
			<xs:element ref="id"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_source">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attribute name="type" type="xs:anyURI" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_sourceList">
		<xs:sequence>
			<xs:element ref="source"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="T_action">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OBSERVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_eventTimeZoneOffset">
		<xs:restriction base="xs:string">
			<xs:enumeration value="+01:00"/>
			<xs:enumeration value="+02:00"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
