backend/de.metas.postfinance/src/main/resources/de/metas/postfinance/processprotocol/ProcessProtocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) by Post CH AG (Post CH AG) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Swiss Post Solutions AG -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Envelope">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="From" type="xs:string"/>
							<xs:element name="To" type="xs:string"/>
							<xs:element name="UseCase" type="xs:string"/>
							<xs:element name="SessionID" type="xs:string"/>
							<xs:element name="Version" type="xs:decimal"/>
							<xs:element name="Status" type="xs:short"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BillerID" type="xs:string"/>
							<xs:element name="DeliveryDate" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberBills" type="xs:int"/>
										<xs:element name="OK_Signed" type="xs:int">
											<xs:annotation>
												<xs:documentation>Anzahl signierter Rechnungen (entspricht Anzahl OK_Rechnungen)</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="OK_Result" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Signed" type="xs:int">
														<xs:annotation>
															<xs:documentation>Anzahl signierter Rechnungen (entspricht Anzahl OK_Rechnungen)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Bill" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TransactionID" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="NOK_Result">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NotSigned" type="xs:int">
														<xs:annotation>
															<xs:documentation>Anzahl nicht signierter Rechnungen (entspricht Anzahl NOK_Rechnungen)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Bill" type="BillType" minOccurs="0" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="date" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="RejectedBills" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NumberBills" type="xs:int"/>
										<xs:element name="Bill" type="RejectedType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Type" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BillType">
		<xs:annotation>
			<xs:documentation>Rechnungsdaten</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransactionID" type="xs:string"/>
			<xs:element name="EBillAccountID" type="xs:string"/>
			<xs:element name="ESRReference" type="xs:string">
				<xs:annotation>
					<xs:documentation>Kann auch StruturedReference sein (bspw. QR-Referenz)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="xs:string"/>
			<xs:element name="ReasonCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ReasonText" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RejectedType">
		<xs:annotation>
			<xs:documentation>Rechnungsdaten</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransactionID" type="xs:string"/>
			<xs:element name="EBillAccountID" type="xs:string"/>
			<xs:element name="ESRReference" type="xs:string">
				<xs:annotation>
					<xs:documentation>Kann auch StruturedReference sein (bspw. QR-Referenz)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="xs:string"/>
			<xs:element name="ReasonCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ReasonText" type="xs:string" minOccurs="0"/>
			<xs:element name="Date" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum der Ablehnung</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
